<br/>
<div class="row">
  <div class="col-md-8">
    <h2>One Week Photo</h2>
    <p><strong>Witryna przeznaczona zamieszczaniu zdjęć w chmurze</strong></p>
    <p>Zdjęcia przechowywane są tydzień od zamieszczenia. Każde zdjęcie poddawane jest procesom filtracji, które
      następnie może zostać pobrane lub udostępnione. Zarówno orginalna fotografia, jak i z nałożonymi filtrami, jest
      dostępna pod wygenerowanym linkiem.</p>
  </div>
  <div class="col-md-4"></div>
  <br/>
  <br/>
  <hr/>
</div>




