<div class="row col-md-12">
  <h1>Wybrane zdjęcie</h1>
  <hr/>
</div>
<div class="row">
  <div class="col-md-8">
    <img src="{{imgUrl}}" class="img-responsive">
  </div>
  <div class="col-md-4">
    <input #upload type="submit" value="Prześlij" class="button " (click)="userPostImage();"/>
    <br/>
    <div *ngIf="principal.authenticated" class="form-check">
      <input ngModel="" type="checkbox" class="form-check-input" id="exampleCheck1"
             [checked]="sendAsPublic" (change)="sendAsPublic = !sendAsPublic">
      <label class="form-check-label" for="exampleCheck1">Wyślij jako publiczne</label>
    </div>
  </div>
</div>
