<div class="row col-md-12">
  <h1>Przesłane zdjęcie</h1> <h6>ID : {{imageId}}</h6>
  <hr/>
</div>
<div class="row">
  <div class="col-md-8">
    <div *ngIf="imgStatus === okStatus">
      <img src="{{imgMainView}}" class="img-responsive">
    </div>
    <div *ngIf="imgStatus !== okStatus">
      <img src="/assets/not_found.png" class="img-responsive">
    </div>
  </div>
  <div class="col-md-4 scrollable">
    <div *ngIf="imgStatus === okStatus">
      <h3> Oryginalne zdjęcie :</h3>
      <div class="link">{{domainURL + imgUrl}}</div>
      <a href="{{imgUrl}}" role="button">Pobierz</a>
    </div>
    <hr/>
    <h3>Filtrowane :</h3>
    <br/>
    <div *ngFor="let urlWithStatus of filtersUrlsAndStatuses">
      <div *ngIf="urlWithStatus.status === okStatus && urlWithStatus.filterUrl!=imgUrl">
        <h4>filtr {{urlWithStatus.filterUrl.split('-')[0].substr(1)}} </h4>
        <div class="link">
          {{domainURL + urlWithStatus.filterUrl}}
        </div>
        <a href="{{urlWithStatus.filterUrl}}" role="button">Pobierz</a>
      </div>
      <br/>
    </div>


  </div>
</div>
<div class="row" *ngFor="let filterAndStatusGroup of filtersUrlsBy4">
  <br/>
  <div class="col-md-2" *ngIf="filterAndStatusGroup[0]">
    <div *ngIf="filterAndStatusGroup[0].status === okStatus">
      <img src="{{filterAndStatusGroup[0].filterUrl}}" class="img-responsive"
           (click)="swapMainImg(filterAndStatusGroup[0].filterUrl)">
    </div>
    <div *ngIf="filterAndStatusGroup[0].status === foundStatus">
      <img src="/loading/Ripple-1s-200px.svg" class="img-responsive">
    </div>
  </div>
  <div class="col-md-2" *ngIf="filterAndStatusGroup[1]">
    <div *ngIf="filterAndStatusGroup[1].status === okStatus">
      <img src="{{filterAndStatusGroup[1].filterUrl}}" class="img-responsive"
           (click)="swapMainImg(filterAndStatusGroup[1].filterUrl)">
    </div>
    <div *ngIf="filterAndStatusGroup[1].status === foundStatus">
      <img src="/loading/Ripple-1s-200px.svg" class="img-responsive">
    </div>
  </div>
  <div class="col-md-2" *ngIf="filterAndStatusGroup[2]">
    <div *ngIf="filterAndStatusGroup[2].status === okStatus">
      <img src="{{filterAndStatusGroup[2].filterUrl}}" class="img-responsive"
           (click)="swapMainImg(filterAndStatusGroup[2].filterUrl)">
    </div>
    <div *ngIf="filterAndStatusGroup[2].status === foundStatus">
      <img src="/loading/Ripple-1s-200px.svg" class="img-responsive">
    </div>
  </div>
  <div class="col-md-2" *ngIf="filterAndStatusGroup[3]">
    <div *ngIf="filterAndStatusGroup[3].status === okStatus">
      <img src="{{filterAndStatusGroup[3].filterUrl}}" class="img-responsive"
           (click)="swapMainImg(filterAndStatusGroup[3].filterUrl)">
    </div>
    <div *ngIf="filterAndStatusGroup[3].status === foundStatus">
      <img src="/loading/Ripple-1s-200px.svg" class="img-responsive">
    </div>
  </div>
  <div class="col-md-4">
  </div>
  <!--<div class="col-md-2">-->
  <!--<div *ngIf="colorBinarizedImgStatus === okStatus">-->
  <!--<img src="{{colorBinarizedImgUrl}}" class="img-responsive" (click)="swapMainImg(colorBinarizedImgUrl)">-->
  <!--</div>-->
  <!--<div *ngIf="colorBinarizedImgStatus === foundStatus">-->
  <!--<img src="/loading/Ripple-1s-200px.svg" class="img-responsive">-->
  <!--</div>-->
  <!--</div>-->
</div>
