.link {
  padding: 9px;
  border-radius: 3px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.scrollable {
  max-height: 30vw;
  overflow-y: scroll;
}
