<!--<h1>Wyślij zdjęcie</h1>-->
<!--<br/>-->
<!--<br/>-->
<!--<form id='formData' #formdata method="post" enctype="multipart/form-data">-->

<br/>
<br/>
<br/>
<br/>
<div class="row">
  <div class="col-md-5" id="file">
    <!--<input class="inputfile"  #data type="file" name="file" (change)="getFiles(data)"/>-->
    <!--<label for="file">Choose a file</label>-->
    <form id='formData' #formdata method="post" enctype="multipart/form-data">
      <input #data type="file" name="file" (change)="getFiles(data)">
      <p>Kliknij by wybrać albo upuść</p>
      <!--<button  type="file" (change)="getFiles(data)">Upload</button>-->
    </form>
  </div>
  <div class="col-md-2 center">
    <p class="center-to-form">LUB</p>
  </div>
  <div class="col-md-5 center">
    <div class="input-group">
      <!--<span class="input-group-addon"><i class="glyphicon glyphicon-link"> </i></span><span class="input-group-addon">Link do zdjęcia</span>-->
      <input [(ngModel)]="imageToUploadUrl" id="imageToUploadUrl" type="text" name="hyperlink"
             placeholder="Wklej tutaj link do zdjęcia w formacie jpg..."/>
    </div>
    <!--<button #upload type="submit" value="Wyślij" class="btn btn-success " (click)="postFile();">Wyślij</button>-->
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-12 center">
    <button #upload type="submit" value="Wyślij" class="button" (click)="postFile();">Wyślij</button>

    <div *ngIf="principal.authenticated" class="form-check">
      <input ngModel="" type="checkbox" class="form-check-input" id="check"
             [checked]="sendAsPublic" (change)="sendAsPublic = !sendAsPublic">
      <label class="form-check-label" for="check">wyślij jako publiczne</label>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 center">
    <div>
      <h4 *ngIf="successMsg" class="text-success"> {{successMsg}}</h4>
    </div>
    <div>
      <h4 *ngIf="errorMsg" class="text-danger"> {{errorMsg}}</h4>
    </div>
  </div>
</div>

<!--TODO:Dodać info wyjaśniające publiczne lub ukryte, w zależności od wyboru-->
<br/>

<div class="row col-md-12">
  <hr/>
  <h2 class="last-photos">Ostatnie nadesłane zdjęcia</h2>
  <hr/>
</div>

<div class="row col-md-12 last-photos">
  <masonry>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 0}'>
      <div class="grid-sizer"></div>
      <masonry-brick class="brick grid-item" *ngFor="let imageId of lastImagesIds">
        <img class="img-rounded" src="{{imagesUrl+imageId}}" routerLink="{{imageDetailsUrl+ imageId}}"
             routerLinkActive="active"/>
      </masonry-brick>
    </div>
  </masonry>
</div>
<!--<div class="row ">-->
<!--<masonry>-->
<!--<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 0}'>-->
<!--<div class="grid-sizer"></div>-->
<!--<masonry-brick class="brick grid-item" *ngFor="let brick of bricks"><img class="img-rounded"-->
<!--src="{{brick.title}}"/></masonry-brick>-->
<!--</div>-->
<!--</masonry>-->
<!--</div>-->

<!--<div *ngFor="imageUrlgeId of idImagesGrid4x">-->
<!--<div class="row">-->

<!--<div class="col-sm-3">-->

<!--<a routerLink="{{imageDetailsUimageUrlgeId[0]}}" routerLinkActive="active">-->
<!--<img srcimageUrlsUrimageUrlgeId[0]}}" class="img-responsive img-rounded"-->
<!--style="max-height:200px; margin: auto;"/>-->
<!--</a>-->
<!--</div>-->

<!--<div *ngimageUrlgeId[1]" class="col-sm-3 ">-->
<!--<a routerLink="{{imageDetailsUimageUrlgeId[1]}}" routerLinkActive="active">-->
<!--<img srcimageUrlsUrimageUrlgeId[1]}}" class="img-responsive img-rounded"-->
<!--style="max-height:200px; margin: auto;"/>-->
<!--</a>-->
<!--</div>-->

<!--<div *ngimageUrlgeId[2]" class="col-sm-3">-->
<!--<a routerLink="{{imageDetailsUimageUrlgeId[2]}}" routerLinkActive="active">-->
<!--<img srcimageUrlsUrimageUrlgeId[2]}}" class="img-responsive img-rounded"-->
<!--style="max-height:200px; margin: auto;"/>-->
<!--</a>-->
<!--</div>-->

<!--<div *ngimageUrlgeId[3]" class="col-sm-3">-->
<!--<a routerLink="{{imageDetailsUimageUrlgeId[3]}}" routerLinkActive="active">-->
<!--<img srcimageUrlsUrimageUrlgeId[3]}}" class="img-responsive img-rounded"-->
<!--style="max-height:200px; margin: auto;"/>-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--<hr/>-->
<!--</div>-->
