/*#filedrag {*/
/*display: none;*/
/*font-weight: bold;*/
/*text-align: center;*/
/*padding: 1em 0;*/
/*margin: 1em 0;*/
/*color: #555;*/
/*border: 2px dashed #555;*/
/*border-radius: 7px;*/
/*cursor: default;*/
/*}*/

/*#filedrag.hover {*/
/*color: #f00;*/
/*border-color: #f00;*/
/*border-style: solid;*/
/*box-shadow: inset 0 3px 4px #888;*/
/*}*/

/*.inputfile {*/
/*!*width: 0.1px;*!*/
/*!*height: 0.1px;*!*/
/*opacity: 0;*/
/*overflow: hidden;*/
/*position: absolute;*/
/*!*z-index: -1;*!*/
/*}*/

/*.inputfile + label {*/
/*font-size: 1.25em;*/
/*font-weight: 700;*/
/*color: white;*/
/*background-color: black;*/
/*display: inline-block;*/
/*}*/

/*.inputfile:focus + label,*/
/*.inputfile + label:hover {*/
/*background-color: red;*/
/*cursor: pointer; !* "hand" cursor *!*/
/*}*/
h1 {
  text-align: left;
}

body {
  background: rgba(0, 0, 0, 0.9);
}

form {
  /*float: right;*/
  width: 28vw;
  height: 32vh;
  background-color: #ececec;
  -webkit-border-radius: 10px;
  box-shadow: inset 0 0 1.3vh 1.3vh #e6e6e6;
}

form p {
  text-align: center;
  line-height: 29vh;
  color: #999;
  font-size: 1.2vW;
}

.last-photos {
  text-align: left;
}

form input {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

#imageToUploadUrl {
  float: left;
  width: 30vw;
  height: 7vh;
  border: 0;
  text-align: center;
  background-color: #f9f9f9;
  -webkit-border-radius: 10px;
  /*margin: auto;*/
  margin-top: 11vh;
  box-shadow: inset 0 0 1.3vh 1.3vh #f3f3f3;
  font-size: 1.2vW;
}

#imageToUploadUrl::placeholder {
  color: #AAA;
}

.center-to-form {
  margin-top: 12.5vh;
  text-align: center;
  font-weight: bold;
  font-size: 2.4vh;
  color: #888;
}

.center {
  text-align: center;
}

* {
  box-sizing: border-box;
}

.button {
  font-size: 1.4vW;
}

.form-check-label {
  font-size: 0.8vW;
}
