<body *ngIf="router.url ==='/'">
<div class="bg">
  <h1>ONEWEEKPHOTO</h1>
  <h4>Podziel się chwilą. Twoi znajomi mają tylko tydzień na obejrzenie.</h4>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <a class="button" href="/uploader">PRZEŚLIJ</a>
  <span class="big-letter">LUB</span>
  <a class="button" href="/user">ZALOGUJ</a>
</div>

</body>

<app-navigation *ngIf="router.url !=='/'"></app-navigation>

