
a, .big-letter {
  font-size: 24px;
}

h1 {
  font-size: 72px;
  /*font-weight: bold;*/
  letter-spacing: 0;
}

h4 {
  font-size: 17px;
  font-weight: inherit;
}

.bg {
  color: #FFFFFF;
  /* The image used */
  background-image: url("../assets/background.jpg");
  /* Full height */
  height: 100vh;
  padding-top: 14vw;
  text-align: center;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.button {
  background-color: #47B29E;
  color: #FFFFFF;
  padding: 4vh 10vw 4vh 10vw;
  margin: 8vh;
}

