#main-menu {
  padding-right: 9vw;
}

.login {
  padding-left: 3vw;
  padding-top: 0;
  padding-bottom: 0;
}

.login-left-margin {
  padding-left: 9vw;
}

.nav {
}

/*.navbar-nav {*/
/*}*/
/*.navbar{*/
/*}*/
ul a {
  color: #FFFFFF;
}

.white-text {
  color: #FFFFFF;
}

.navbar-inverse {
  font-size: 20px;
  height: 55px;
  background-color: #324E5C;
  -webkit-border-radius: 0;
}

.logo {
  font-size: 30px;
  padding-left: 14vw;
  color: #ffffff;
}

.button {
  background-color: #47B29E;
  color: #FFFFFF;
  padding: 4vh 16vh 4vh 16vh;
  /*border-radius: 10px;*/
  /*-moz-border-radius: 10px;*/
  /*-webkit-border-radius: 10px;*/
  /*line-height: 20vh;*/
  margin: 8vh;
}

.photo-property {
  max-height: 50px;
  margin: auto;
  padding-right: 20px
}
