<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand logo" href="/about"> ONE<span class="week">WEEK</span>PHOTO </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

        <li *ngIf="principal.authenticated"><a routerLink="/instagram" routerLinkActive="active">Instagram</a></li>
        <li><a routerLink="/uploader" routerLinkActive="active">Upload</a></li>
        <!--<li><a routerLink="/simpleTester" routerLinkActive="active">Tester wewnętrzny</a></li>-->

        <li *ngIf="principal.authenticated"><a class="login" routerLink="/user" routerLinkActive="active">
          <img
            src="{{principal.profile_picture_url}}"
            class="glyphicon img-rounded photo-property"/>
          {{principal.full_name}}</a></li>
        <li *ngIf="!principal.authenticated"><a class="login-left-margin" routerLink="/user" routerLinkActive="active">Profil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content" style="min-height: 880px">
    <div class="col-sm-1 sidenav">
    </div>

    <div class="col-sm-10 text-left">
      <router-outlet></router-outlet>
    </div>
    <div class="col-sm-1 sidenav">
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <br/><br/>
  <p>Uploader</p>
</footer>
</body>
