@import url('https://fonts.googleapis.com/css?family=Anton|Roboto+Slab:400,700&subset=latin-ext');

body {
  font-family: 'Anton', sans-serif;
  /*font-family: 'Roboto Slab', serif;*/
}

.week {
  color: #47B29E;
}

.button {
  border: 0;
  background-color: #47B29E;
  color: #FFFFFF;
  padding: 4vh 14vw;
  font-size: 30px;
  margin: 4vw 0 1vw 0;
  -webkit-border-radius: 0;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button:hover {
  background-color: #47cdb9;
}

.row {
  margin-left: 2vw;
  margin-right: 2vw;
}

/* force scrollbar */

/* ---- grid ---- */

.grid {
  background: #DDD;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
  width: 20vw;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 16vw;
}

.brick {
  width: auto;
}
