<div class="row col-md-12">
  <h2>Zdjęcia z profilu Instagram</h2>
  <p>Kliknij na wybranym zdjęciu by go wysłać do serwisu</p>
  <hr/>
  <br/>
</div>
<div class="row col-md-12">
  <masonry>
    <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 0}'>
      <div class="grid-sizer"></div>
      <masonry-brick class="brick grid-item" *ngFor="let imageUrl of imagesUrls">
        <img class="img-rounded" src="{{imageUrl}}" (click)="openSingleImage(imageUrl)"
             routerLinkActive="active"/>
      </masonry-brick>
    </div>
  </masonry>
</div>

<!--<div class="row" *ngFor="let url of imageUrls ; let i = index">-->

<!--<div class="col-sm-3">-->
<!--<a (click)="openSingleImage(url[0])">-->
<!--<img src="{{url[0]}}" class="img-responsive img-rounded" style="max-height:250px; margin: auto;">-->
<!--</a>-->
<!--</div>-->

<!--<div class="col-sm-3 ">-->
<!--<a (click)="openSingleImage(url[1])" routerLinkActive="active">-->
<!--<img src="{{ url[1]}}" class="img-responsive img-rounded" style="max-height:250px; margin: auto;">-->
<!--</a>-->
<!--</div>-->

<!--<div class="col-sm-3">-->
<!--<a (click)="openSingleImage(url[2])" routerLinkActive="active">-->
<!--<img src="{{url[2]}}" class="img-responsive img-rounded" style="max-height:250px; margin: auto;">-->
<!--</a>-->
<!--</div>-->

<!--<div class="col-sm-3">-->
<!--<a (click)="openSingleImage(url[3])" routerLinkActive="active">-->
<!--<img src="{{url[3]}}" class="img-responsive img-rounded" style="max-height:250px; margin: auto;">-->
<!--</a>-->
<!--</div>-->

<!--</div>-->
