<div class="row col-md-12">
  <br/>
  <h2>Test poprawności działania serwisów oraz ich funkcjonalności</h2>
  <br/>
  <br/>
  <hr/>
</div>

<div class="row col-md-12">
  <h4 *ngIf="!testResults" class="alert alert-danger">
    <span class="glyphicon glyphicon-info-sign"></span> Problem z połączeniem do serwera
  </h4>
</div>
<!--DONE, PROCESSING, FAILED, NOTSTARTED-->

<div class="row">
  <div class="col-md-1"><p><strong>STATUS</strong></p></div>
  <div class="col-md-5"><p><strong>NAZWA</strong></p></div>
  <div class="col-md-6"><p><strong>OPIS</strong></p></div>
</div>
<div *ngFor="let tS of testResults">
  <div class="row">
    <div class="col-md-1">
      <p *ngIf="tS.status===notStartedStatus" class="alert alert-info">
        <span class="glyphicon glyphicon-off"></span></p>
      <p *ngIf="tS.status===processingStatus" class="alert alert-warning">
        <span class="glyphicon glyphicon-play"></span></p>
      <p *ngIf="tS.status===doneStatus" class="alert alert-success">
        <span class="glyphicon glyphicon-ok"></span></p>
      <p *ngIf="tS.status===failedStatus" class="alert alert-danger">
        <span class="	glyphicon glyphicon-remove"></span></p>
    </div>
    <div class="col-sm-5">
      <p> {{tS.testName}}</p>
    </div>
    <div class="col-sm-6">
      {{tS.description}}
    </div>
  </div>
</div>

<div *ngIf="testResults" class="row">
  <hr/>
  <div class="col-sm-8"></div>
  <div class="col-sm-4">
    <button (click)="startTest()" class="btn btn-danger" role="button">Startuj testy</button>
  </div>
  <hr/>
</div>
<!--<h3>Legenda</h3>-->
<!--<div class="row">-->
<!--<div class="col-sm-2">-->
<!--&lt;!&ndash;Tu jest znaczek&ndash;&gt;-->
<!--</div>-->
<!--<div class="col-sm-10">-->
<!--&lt;!&ndash;Tu mamy opis znaczka&ndash;&gt;-->
<!--</div>-->
<!--<hr/>-->
<!--</div>-->
