<masonry>
  <div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 0}'>
    <div class="grid-sizer"></div>
    <masonry-brick class="brick grid-item" *ngFor="let imageId of imagesIds">
      <img class="img-rounded" src="{{imageUrl+imageId}}" routerLink="{{imageDetailsUrl+ imageId}}"
           routerLinkActive="active"/>
    </masonry-brick>
  </div>
</masonry>
