.gray {
  background-color: #CEC;
}

.jumbotron {
  padding-right: 15px;
  padding-left: 15px;
}

.btn {
  border: 0;
  padding: 1vh 3vw;
  font-size: 1vw;
  margin-top: 8px;
  margin-bottom: 12px;
  -webkit-border-radius: 0;
  cursor: pointer;
}

.image-size {
  height: 28vh;
}
