<div class="row jumbotron" *ngIf="!principal.authenticated">
  <h3>Witaj nieznajomy</h3>
  <div>
    <a class="LogIn" href="{{this.instagramLoginLink}}"> Zaloguj się za pomocą instagrama, by móc w pełni korzystać z
      serwisu. </a>
  </div>
</div>
<div class=" row jumbotron" *ngIf="principal.authenticated">
  <!--<div >-->
  <div class="col-md-3">
    <!--class="glyphicon img-rounded"-->
    <img src="{{principal.profile_picture_url}}" class="img-rounded image-size"/>
  </div>
  <div class="col-md-9">
    <h3>Profil</h3>
    <h3><strong>Godność:</strong> {{principal.full_name}}</h3>
    <h3><strong>Nazwa użytkownika:</strong> {{principal.username}}</h3>
    <a (click)="logOut()" class="btn btn-danger" role="button">Wyloguj</a>
  </div>
</div>
<div class="row col-md-12" *ngIf="principal.authenticated">
  <hr/>
  <h2>Twój magazyn</h2>
  <hr/>
  <uploadedByUser></uploadedByUser>
</div>

